@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;display=swap');

*{
    padding: 0;
    margin: 0;
    transition: 1.6s all  ease-in-out;
}

body{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    position: absolute;
    font-family: 'Outfit',sans-serif;
  
}

/* NAV SIDE */

.nav{
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;  
}

.nav > div > h1{
    font-size: 43px; 
    margin-bottom: 15px;
}

.dropdowns{
    display: flex;
    gap: 19px;
}

.dropdown{
    position: relative;
}

.dropdown > button{
    border: none;
    background: white;
    margin-left: 5px;
    width: 15px;
    cursor: pointer;
}

.dropdown > button > img{
    width: 15px;
}

.dropdown2 > button{
    border: none;
    background: white;
    margin-left: 5px;
    width: 15px;
    cursor: pointer;
}

.dropdown2 > button > img{
    width: 15px;
}



.dropdown-options{
    display: grid;
    gap: 7px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 12px 26px;
    margin-top: 10px;
    position: absolute;
    box-shadow: 13px 10px rgba(75, 74, 74, 0.116);
    margin-right: 50px;
    width: 150px;
    left: -80px;
}

.active{
    display: none;
    margin-top: -50px;
    margin-right: 10px;
}

.dropdown-options > a{
    text-decoration: none;
    color: rgb(78, 77, 77);
    font-weight: bold;
}
.dropdown-options > a > img{
  margin-right: 10px;
}

/* dropdown2 */
 
.dropdown2{
    position: relative;
}



.dropdown-options2{
    display: grid;
    gap: 7px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 12px 26px;
    margin-top: 10px;
    position: absolute;
    box-shadow: 13px 10px rgba(75, 74, 74, 0.116);
    margin-right: 50px;
    width: 150px;
    
}

.active2{
    display: none;
    margin-top: -50px;
    margin-right: 10px;
}

.dropdown-options2 > a{
    text-decoration: none;
    color: rgb(78, 77, 77);
    font-weight: bold;
}
.dropdown-options2 > a > img{
  margin-right: 10px;
}

.left-side{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.btn-side{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.login{
    padding: 9px;
    border: none;
    background: black;
    color: white;
    border-radius: 8px;
    width: 65px;
    margin-top: 9px;
}

.login:hover{
   color: black;
   background: white;
   border: 1px solid gray;
   cursor: pointer;
}

.logout{
    padding: 9px;
    border: none;
    background: white;
    color: black;
    border-radius: 8px;
    width: 65px;
    margin-top: 9px;
    border: 1px solid gray;
}

.logout:hover{
   color: white;
   background: black;
   cursor: pointer;
   border: none;
}

/* MEDIA QUERIES FOR NAV SECTION */

@media screen and (max-width: 550px) {
   .dropdowns{
    display: none;
   } 

   .left-side{
    display: none;
   }
}

/* MOBILE MENU */

.mobile-menu{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background:white;
    width: 70%;
    display: grid;
    
}
.menu-btn{
 border: none;
 background: white;
 margin-top: 15px;
 top: 10px;
 margin-bottom: 15px;
 position: absolute;
 right: 5px;
 cursor: pointer;
}

@media screen and (min-width: 550px) {
    .menu-btn{
     display: none;
    } 
 }

.mobile-active{
right: -3000px;
}

/* MOBILE MENU DROP DOWNS */

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.315);
}

.overlay-active{
    display: none;
}

.dropdowns2-active{
    display: none;
}

.left-side2-active{
    display: none;
}

/* dropdown1 */



.dropdown3{
    margin-top: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.dropdown3 > button{
    border: none;
    background: white;
    margin-left: 5px;
    width: 15px;
   
}
.dropdown3 > button > img{
    width: 20px;
    margin-top: 10px;
    cursor: pointer;
 }


.dropdown-options3{
    display: grid;
    gap: 7px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 12px 26px;
    position: absolute;
    top: 100px;
    box-shadow: 13px 10px rgba(75, 74, 74, 0.116);
    margin-right: 50px;
    width: 150px;
    
}

.active3{
    display: none;
    margin-top: -50px;
    margin-right: 10px;
}

.dropdown-options3 > a{
    text-decoration: none;
    color: rgb(78, 77, 77);
    font-weight: bold;
}
.dropdown-options3 > a > img{
  margin-right: 10px;
}

/* dropdown2 */
 
.dropdown4{
    margin-top: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.dropdown4 > button{
    border: none;
    background: white;
    margin-left: 5px;
    width: 15px;
    cursor: pointer;
}
.dropdown4 > button > img{
   width: 20px;
   margin-top: 10px;
}



.dropdown-options4{
    display: grid;
    gap: 7px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 12px 26px;
    position: absolute;
    top: 240px;
    box-shadow: 13px 10px rgba(75, 74, 74, 0.116);
    width: 150px;
    
}

.active4{
    display: none;
    margin-top: -50px;
    margin-right: 10px;
}

.dropdown-options4 > a{
    text-decoration: none;
    color: rgb(78, 77, 77);
    font-weight: bold;
}
.dropdown-options4 > a > img{
  margin-right: 10px;
}
 
.left-side2{
   display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.btn-side2{
    display: grid;
    gap: 20px;
    align-items: center;
    
}

.login2{
    padding: 9px;
    border: none;
    background: black;
    color: white;
    border-radius: 8px;
    width: 65px;
    margin-top: 9px;
}

.login2:hover{
   color: black;
   background: white;
   border: 1px solid gray;
   cursor: pointer;
}

.logout2{
    padding: 9px;
    border: none;
    background: white;
    color: black;
    border-radius: 8px;
    width: 65px;
    margin-top: 9px;
    border: 1px solid gray;
}

.logout2:hover{
   color: white;
   background: black;
   cursor: pointer;
   border: none;
}




/* HERO SECTION SIDE */

section {
    height: 90vh;
    width: 100%;
    display: flex;
    padding: 16px;

}
.content-side{
    width: 600px;
    padding-left: 40px;
    padding-top: 50px;
    margin-left: 10px;
}

.content-side > h1{
    font-weight: bold;
    font-size: 70px;
}

.content-side > p{
    width:450px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    color: rgb(82, 81, 81);
    line-height: 25px;
}

.btn-1 {
    margin-bottom: 50px;
    padding: 12px;
    border: none;
    font-weight: bold;
    background: black;
    color: white;
    border-radius: 8px;
}

.brands{
    display: flex;
    justify-content: space-around;
    height: 20px;
    width: 400px;
    margin-top: 30px;
}

.pic-side{
    width: 400px;
    top: 0;
    margin-right: 10px;
}
.pic-side2{
    display: none;
    width: 400px;
    height: 600px;
    top: 0;
    right: 10px;
}

.pic-side > img{
    width: 100%;
}

/* MEDIA QUERIES FOR HERO SECTION */

@media screen and (max-width: 550px) {
    section {
        display: grid;
    }
    .content-side{
        padding-left: 10px;
    }

    .content-side > h1{
        font-size: 40px;
        margin-top: 10px;
    }

    .content-side > p{
        width: 370px;
    }

    .brands{
        display: grid;
        gap: 20px;
        width: 140px;
    }

    
    .brands > img{
        width: 130px;
    }

    .pic-side{
        display: none;
    }

    .pic-side2{
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
    }

    .pic-side2 > img {
        object-fit: contain;
        width: 100%;
        height: 300px;
        margin-left: -130px;
    }
    
}